fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
pytest
httpx
reportlab
requests

langchain
langchain-ollama
langchain-community

passlib[bcrypt]
python-jose[cryptography]
python-multipart